.data-table {
  border: 1px solid #eaecf0;
  border-radius: 12px;

  &__table {
    width: 100%;
    text-align: left;
  }

  &__body {
  }

  &__row {
    height: 55px;
  }

  &__th {
    padding-left: 16px;
    height: 44px;
  }
  &__td {
    padding-left: 24px;
  }
}
